node_modules
client-build
build.txt
config_build.json
config_local*
config.dart
.DS_Store
*.swp
client/shared
client/dart/home.dart.js
client/dart/home.dart.js.map
client/dart/home.dart.js.deps
TODO
.elasticbeanstalk/
npm-debug.log
packages/
